.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: roboto;
    text-align: center;
    width: 40%;
    position:absolute;
    top: 250px;
    z-index: 5;
     left: 30%;
    
    
}
.titles{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    letter-spacing: 0;

}
 h2{
    text-align: center;
font: normal normal bold 72px/42px Bebas Neue;
letter-spacing: 0px;
color: #FFFFFF;
}

h4 {
    text-align: center;
    font: normal normal 300 18px/22px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.dateSec{
    display: flex;
    flex-direction: row;

 background: #E6F5F3 ;
border-radius: 8px;

height: 40px;

}
.coun{
  /* margin-right: 40px; */
  width: 200px;
}
.datepicker{
    width: 200px;
}

.butt{
    width: 100px;
    
   
    background: #1e776e 0% 0% no-repeat padding-box;
    border-radius: 6px;
    letter-spacing: 1px;
    color: #ffffff;
}


  

 

